.footer {
  position: fixed;       /* 화면 하단에 고정 */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;          /* 높이는 적절히 조절 */
  background-color: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.layout-footer {
  background: #ccc;
  padding: 1rem;
  text-align: center;
}