
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-header {
  background: #ddd;
  padding: 1rem;
}



.layout-main {
  flex: 1;
  display: flex;
}

.section {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background: #f5f5f5;
  padding: 1rem;
}

.main {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

