
/*모달*/
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;      /* 수평 중앙 */
  align-items: flex-start;      /* 상단 정렬 */
  padding-top: 50px;            /* 상단 여백 */
}


/*화면배치*/
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  
  width: 95%;
  max-height: 90vh;             /* 화면 넘치면 스크롤 */
  overflow-y: auto;

  /* flex로 좌우 배치 */
  display: flex;
  flex-direction: row; /* 가로 배치 */
  gap: 20px; /* 좌우 간격 */
}

.modal-left {
  flex: 1; /* 좌측 영역 크기 비율 */
  overflow: auto;
}

.modal-right {
  flex: 5; /* 우측 영역 조금 넓게 */
  overflow: auto;
}